
  
      .container-1,.container-2{
        border-collapse: collapse;
        width: 100%;
      }

      table .container-2{
        padding-top: 10px;
      }

  
      th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
      }
  
      th {
        background-color: #f2f2f2;
      }
      @media (max-width: 600px) {
        .container{
          max-width: fit-content;
          max-height: fit-content;
        }
        .container-2{
          width: 100px;
        }
        .tr2{
          display: flex;
          width: auto;
        }
        
  
        .th2{
          display: flex;
        }
  
      
  
        /* Style for table cells on small screens */
              th,tr,td {
                  display: block;
                  text-align: left;
              }
          }

          body{
            background-color: lightgreen;
          }
  
        .menu-bar {
          background-color: rgb(0, 61, 0);
          opacity: calc(80%);
          height: 90px;
          width: inherit;
          display: flex;
          justify-content: space-between;
          align-items: center;
          /*padding: 0 5%;*/
          position: relative;
          box-shadow: black 0px 0px 40px;
          border-bottom: black;
          border-width: 2px;
          border-style: solid;  
          margin-bottom: 20px;
        }
      
      
        .menu-bar ul {
          list-style: none;
          display: flex;
        }
        
        .menu-bar ul li {
          /* width: 120px; */
          padding: 10px 30px;
          /* text-align: center; */
        
          position: relative;
        }
        
        .menu-bar ul li a {
          text-align: center;
          padding: 20px;
          font-family: sans-serif;
          margin: 20px;
          font-size: 20px;
        color: white;
          text-decoration: none;
          font-style: 600;
          transition: all 0.4s ease;
        }
        .menu-bar ul li a:hover {
          color: red;
        }
        .fa-solid{
          margin-left: 10px;
          
        }
      
      
        
      ::selection {
        background: green;
        color: #fff;
      }

      header{
        width: inherit;
      }

    .text-box{
      width: inherit;
      background-color: transparent;
      font-size:inherit;
      font-weight: bold;
      font-family: sans-serif;
      color: black;
      height: inherit;
         
    }

    
   .button-container .btn-done{
    text-align: center;
    padding: 10px;
    width: 200px;
    background-color: white;
    margin: 10px;
    border-radius: 30px;
    color: black;
    font-size: medium;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.6s ease;
  }
  .button-container :hover{
    color: white;
    background-color: green;
  }
  


      
      label{
        font-size: large;
        font-family: sans-serif;
        font-weight: 200;
      }

      .head{
        font-size: x-large;
        font-weight: bold;
        font-family: sans-serif;
      }